.Scroll_item{
    width:950px;
    height:550px;
    background-color:white;
    box-shadow:0px 0px 10px black;
    float:left;
    transition:all 1s;
    opacity:0;
}
.Scroll_item_active{
    width:950px;
    height:550px;
    background-color:white;
    box-shadow:0px 0px 10px #000;
    float:left;
    transition:all 1s;
    opacity:1;
}

.ul_list{
    display: flex;
    list-style: none;
    margin:10px 0 0 425px;
    height: 3px;
}


.li_list{
    display: flex;
    width: 24px;
    height:8px;
    margin: 0 5px 0 0;
    transition: all .3s;
}


.li_list button{
    display: block;
    width: 100%;
    color: transparent;
    font-size: 0;
    background: rgba(24, 144, 255,0.8);
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
    opacity: .3;
}
.li_list_active{
    display: flex;
    width: 30px;
    height:8px;
    margin: 0 5px 0 0;
    transition: all .3s;
}
.li_list_active button{
    display: block;
    width: 100%;
    color: transparent;
    font-size: 0;
    background:rgba(24, 144, 255,0.8);
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    transition: all .5s;
    opacity: 1;
}
.li_list button:hover{
   opacity:1;
}

.leftNode{
    width:60px;
    height: 60px;
    position: absolute;
    top:45%;
    left: -50px;
    border: 10px solid rgba(24, 144, 255,0.5);
    opacity: 0.8;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    animation: moveLeft 2s infinite;
    cursor: pointer;
    z-index: 1;
}
.rightNode{
    width:60px;
    height: 60px;
    position: absolute;
    top:45%;
    left: 1000px;
    border: 10px solid rgba(24, 144, 255,0.5);
    opacity: 0.8;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    animation: moveRight 2s infinite;
    cursor: pointer;
    z-index: 1;
}
@keyframes moveLeft{
    0% {
        opacity: 0.6;
        transform: translate(0px,0) rotate(-45deg);
    }
    50% {
        opacity: 0.3;
        transform: translate(-20px,0) rotate(-45deg);
    }
    100% {
        opacity: 0.6;
        transform: translate(0px,0) rotate(-45deg);
    }
}
@keyframes moveRight{
    0% {
        opacity: 0.6;
        transform: translate(0px,0) rotate(-45deg);
    }
    50% {
        opacity: 0.3;
        transform: translate(20px,0) rotate(-45deg);
    }
    100% {
        opacity: 0.6;
        transform: translate(0px,0) rotate(-45deg);
    }
}